html, body {
  height: 100%;
  width: 100%;
  letter-spacing: 2px;
}

body {
  display: grid;
  grid: [row1-start] "header header header" 75px [row1-end]
        [row2-start] ". main ." 1fr [row2-end]
        [row3-start] "footer footer footer" 50px [row3-end]
        / 1fr 1200px 1fr;
  background-color: #ECE8E2;
}

@media (max-width: 768px) {
  body {
    grid: [row1-start] "header" 75px [row1-end]
          [row2-start] "main" 1fr [row2-end]
          [row3-start] "footer" 50px [row3-end]
          / 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  body {
    grid: [row1-start] "header header header" 75px [row1-end]
          [row2-start] ". main ." 1fr [row2-end]
          [row3-start] "footer footer footer" 50px [row3-end]
          / 1fr 700px 1fr;
  }
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
  background-color: #000000;
}

#brand {
  flex: 0 0 auto;
  margin: 0 20px;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #FFFFFF;
}

#nav {
  flex: 1 1 auto;
}

#login {
  flex: 0 0 auto;
  margin: 0 20px;
}

#login input {
  border: 0;
  border-radius: 3px;
  padding: 12px 30px;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #FF4655;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
}

.map-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 85%;
}

.map {
  position: relative;
  width: 40%;
  margin: 25px;
}

.map:hover .map-overlay {
  width: 100%;
}

.map-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transition: 0.5s ease-out;
  background-color: black;
}

.map img {
  width: 100%;
}

.map span {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  color: white;
  font-weight: 600;
  font-size: 24px;
}

footer {
  grid-area: footer;
  color: #FFFFFF;
  background-color: #000000;
}
