@font-face {
  font-family: "Rubik";
  src: url(fonts/Rubik-Regular.ttf);
  font-weight: normal;
}

*{
  font-family: "Rubik";
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid: [row1-start] "header header header" 75px [row1-end]
        [row2-start] ". main ." 1fr [row2-end]
        [row3-start] "footer footer footer" 50px [row3-end]
        / 1fr 1200px 1fr;
}

@media (max-width: 700px) {
  body {
    grid: [row1-start] "header" 75px [row1-end]
          [row2-start] "main" 1fr [row2-end]
          [row3-start] "footer" 50px [row3-end]
          / 1fr;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  body {
    grid: [row1-start] "header header header" 75px [row1-end]
          [row2-start] ". main ." 1fr [row2-end]
          [row3-start] "footer footer footer" 50px [row3-end]
          / 1fr 700px 1fr;
  }
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
}

#brand {
  flex: 0 0 auto;
}

#nav {
  flex: 1 1 auto;
}

#login {
  flex: 0 0 auto;
}

main {
  grid-area: main;
  background-color: blue;
}

footer {
  grid-area: footer;
}
